{
    "tabWidth": 2,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "jsxBracketSameLinte": true
}
